@using webapp.Helpers;

<!DOCTYPE html>
<html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="~/Content/images/logo1.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/logon.css" type="text/css" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="width">
        <h1><a href="~/Views/Home/logon.html">GIT</a></h1>

        <nav>

            <ul>

                <li class="start @Html.IsActive("Home", "programozas")">
                    @Html.ActionLink("Programozás", "programozas", "Home")
                </li>

                <li class="start @(ViewBag.Page == "html_css_js" ? "active" : "")">
                    @Html.ActionLink("HTML+CSS+JS", "html_css_js", "Home")
                </li>
                <li><a href="~/Views/Home/linux.html">Linux</a></li>
                <li><a href="~/Views/Home/iszgy.html">Iszgy</a></li>
                <li class="end selected"><a href="~/Views/Home/halozat.html">Hálózat</a></li>
            </ul>

        </nav>


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><img src="~/Content/images/logo.png"></p>
            <p class="footer-text">Minden jog fenntartva!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
